<div id="desktop" class="row">
	<div class="large-2 small-2 columns">
		<img src="http://image.tmdb.org/t/p/w185/qKkFk9HELmABpcPoc1HHZGIxQ5a.jpg" class="thumbnail">
	</div>
	<div class="large-10 small-10 columns">
		<h4>X-Men: Days of Future Past</h4>
		<h5>Overview</h5>
		<p>The ultimate X-Men ensemble fights a war for the survival of the species across two time periods in X-MEN: DAYS OF FUTURE PAST. The beloved characters from the original “X-Men” film trilogy join forces with their younger selves from “X-Men: First Class,” in an epic battle that must change the past – to save our future.</p>

		<span class="label">HDTV</span> <span class="label">X264</span> <span class="label">HDTV</span> <span class="label">VOSTFR</span> <span class="label">PROPER</span>
	</div>
</div>