
    <div id="desktop">
      <section ng-if="recent.movies | count">
        <h4 translate>{{search.params.movieType == 'tvseries' ? 'SERIES' : 'MOVIES'}}</h4>

        <ul class="small-block-grid-4 medium-block-grid-6 large-block-grid-7" ng-if="search.params.movieType !== 'tvseries'">
          <li ng-repeat="item in recent.movies" class="text-center">
            <a class="th" ui-sref="items.movie({movieId: item._id})">
              <img ng-src="{{item.infos.picture || '/img/movie/no_cover.jpg'}}" style="min-width:100%;" > 
              <h5>{{item.infos.title || item.name}} <small ng-if="item.movieType == 'tvseries'">S{{item.season}}</small></h5>
            </a>
          </li>
        </ul>
        <div ng-if="search.params.movieType === 'tvseries'" class="row">
          <div ng-controller="tvshowController" ng-repeat="(index, tvshow) in recent.movies track by $index" ng-style="tvshow.style" ng-init="numCols = countShows(tvshow.shows)" class="large-{{numCols}} columns" >
            <ul class="large-block-grid-{{numBlock}}">
              <h5>{{tvshow.name}}</h5>
              <li ng-repeat="item in tvshow.shows" class="text-center">
                <a class="th" ui-sref="items.movie({movieId: item._id})">
                  <img ng-src="{{item.infos.picture || '/img/movie/no_cover.jpg'}}" style="min-width:100%;" > 
                  <h5>{{item.infos.title || item.name}} <small ng-if="item.movieType == 'tvseries'">S{{item.season}}</small></h5>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section ng-if="recent.albums.length">
        <h4 translate>ALBUMS</h4>

        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
          <li ng-repeat="item in recent.albums" class="text-center">
          <a class="th" ui-sref="items.album({albumId: item._id})">
              <img ng-src="{{item.picture || '/img/album/no_cover.jpg'}}"> 
              <h5>{{item.artist}} - {{item.album}}</h5>
            </a>
          </li>
        </ul>
      </section>
      <section ng-if="recent.others.length">
        <h4 translate>OTHERS</h4>
        <table>
          <thead>
            <tr>
              <th translate>NAME</th>
              <th translate>PATH</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="others in recent.others">
                <td>{{others.name}}</td>
                <td>{{others.prevDir}}</td>
                <td><!-- <a href="others/{{others._id}}/download"><i class="icon&#45;download"></i></a> --></td>
              </tr>
          </tbody>
        </table>
      </section>
      <div class="row" ng-if="$state.params.type">
        <div class="large-10 large-offset-1 paginate">
          <ul class="pagination">
            <li ng-if="page_next !== 0" aria-disabled="{page_next === 0}" class="right">
              <a ui-sref="home.type({type: $state.params.type, page: page_next})" class="arrow" translate>NEXT</a>
            </li>
            <li ng-if="page_prev !== 0" aria-disabled="{page_next === 0}" class="left">
              <a ui-sref="home.type({type: $state.params.type, page: page_prev})" class="arrow" translate>PREV</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
