<div id="alert" ng-if="alert" class="alert-box {{alert.type}}">{{alert.message}} <a ng-click="closeAlert()" class="close">&times;</a></div>

<nav ui-view="nav" class="top-bar"></nav>

<div class="row">
  <div class="columns large-12">

    <label for="lang" translate>LANG</label>
    <select ng-model="lang" ng-change="changeLanguage()">
      <option value="fr_FR" ng-selected="lang == 'fr_FR'">Français</option>
      <option value="en_US" ng-selected="lang == 'en_US'">English</option>
    </select> 

  </div>
</div>
