<ul class="side-nav">
  <li ui-sref="home.type({type: 'movies'})" ui-sref-active="active"><a href=""><i class="icon-videos"></i><span translate="MOVIES"></span></a></li>
  <li ui-sref="home.type({type: 'albums'})" ui-sref-active="active"><a href=""><i class="icon-albums"></i><span translate="ALBUMS"></span></a></li>
  <li ui-sref="home.type({type: 'others'})" ui-sref-active="active"><a href=""><i class="icon-others"></i><span translate="OTHERS"></span></a></li>
</ul>
<div ng-if="sidebar" class="columns large-12">
  <div id="tags" class="row collapse" ng-if="$stateParams.type == 'movies'">
    <h5>Tags <small class="pointer" ng-show="enabled('tags')()" ng-click="reset('tags')()">[reset]</small></h5>
    <ul class="button-group">
      <li>
      <div class="button-checkbox tertiary small" ng-click="choose('movies')({movieType: 'movie'})" ng-class="{active: search.params.movieType == 'movie'}" translate="MOVIES"></div>
      </li>
      <li>
        <div class="button-checkbox tertiary small" ng-click="choose('movies')({movieType: 'tvseries'})" ng-class="{active: search.params.movieType == 'tvseries'}" translate="SERIES"></div>
      </li>
    </ul>
  </div>
  <h5 translate>LIBRAIRIES</h5>
  <div id="watched-paths">
    <ul>
      <li ng-repeat="p in paths.paths">
        <input type="checkbox" id="{{p._id}}" checklist-value="p._id" class="checkbox" ng-checked="watched_paths.indexOf(p._id) !== -1" checklist-model="watched_paths"><label for="{{p._id}}">{{p.path}}</label>
      </li>
    </ul>
  </div>

  <h5><span translate>DISK_USAGE</span> <small>{{'SIZE' | translate: usageDetails}}</small></h5>
  <div id="disk-usage" disk-meter disk-sizes="array_sizes" disk-colors="array_colors" disk-legend="array_legend">
    <!-- <meter disk&#45;meter disk&#45;sizes="array_sizes" disk&#45;colors="array_colors" value="{{size.total.bytes}}" id="meter&#45;disk&#45;usage" min="0" max="{{user.spaceLeft}}" title="bytes"> -->
    <!--   <div class="meter&#45;gauge"></div> -->
    <!-- </meter> -->
    <!-- <ul class="swatch"> -->
    <!--   <li class="swatch__elem">{{'ALBUMS' | translate}} <span class="used&#45;space">{{size.albums.pretty}}</span></li> -->
    <!--   <li class="swatch__elem">{{'MOVIES' | translate}} <span class="used&#45;space">{{size.movies.pretty}}</span></li> -->
    <!--   <li class="swatch__elem">{{'OTHERS' | translate}} <span class="used&#45;space">{{size.others.pretty}}</span></li> -->
    <!-- </ul> -->
  </div>
</div>
