<ul>
  <li><a ui-sref="home.type({type: 'movies'})">Movies</a></li>
  <li><a ui-sref="home.type({type: 'albums'})">Albums</a></li>
  <li><a ui-sref="home.type({type: 'others'})">Others</a></li>
</ul>
<div ng-if="sidebar">
  <h5>Libraries</h5>
  <div id="watched-paths">
    <ul>
      <li ng-repeat="p in paths.paths">
        <input type="checkbox" id="{{p._id}}" checklist-value="p._id" class="checkbox" ng-checked="p._id == user.default_path" checklist-model="watched_paths"><label for="{{p._id}}">{{p.path}}</label>
      </li>
    </ul>
  </div>

  <h5>Disk usage <small>{{size.total.pretty}} out of {{user.prettySize}}</small></h5>
  <div id="disk-usage">
    <meter value="{{size.total.bytes}}" min="0" max="{{user.spaceLeft}}" title="bytes">
      <div class="meter-gauge"></div>
    </meter>
    <ul class="swatch">
      <li class="swatch__elem">Audio <span class="used-space">{{size.albums.pretty}}</span></li>
      <li class="swatch__elem">Movies <span class="used-space">{{size.movies.pretty}}</span></li>
      <li class="swatch__elem">Other <span class="used-space">{{size.others.pretty}}</span></li>
    </ul>
  </div>
</div>
