<dynamic-background color="bgColor"></dynamic-background>
<div class="columns large-12 ">
  <div class="row" id="album">
    <div class="large-9 large-offset-2 columns"> 
      <div class="row container">
        <div class="large-3 columns text-center">
          <div class="play-me" ng-click="player.toggle ()">
            <img ng-src="{{album.picture || '/img/album/no_cover.jpg'}}" alt="{{album.album}}">
          </div>
          <div id="audio-player">
            <ul>
              <li class="progress secondary round">
                <span class="meter" ng-style="{width: player.position + '%'}"></span>
                <span class="left" ng-click="player.toggleTimer()">{{player.time}}</span><span class="right">{{player.trackLength}}</span>
              </li>
              <li>
                <a ng-click="player.prev(true)"><i class="icon-to-start"></i></a>
              </li>
              <li>
                <a ng-click="player.toggle()" class="play"><i ng-class="{'icon-play-small': !player.playing(), 'icon-pause': player.playing()}"></i></a>
              </li>
              <li>
                <a ng-click="player.next(true)"><i class="icon-to-end"></i></a>
              </li>
              <li class="volume">
                <div class="slider">
                  <i class="icon-volume-off" ng-click="player.volume(0)"></i>
                  <input ng-model="volume" ng-change="player.volume(volume)" value="50" type="range">
                  <i class="icon-volume-up" ng-click="player.volume(100)"></i>
                </div>
              </li>
            </ul>
              <!-- <ul class="button&#45;group round"> -->
                <!-- <li><a href="#" class="button tiny secondary" ><i class="icon&#45;shuffle"></i></a></li> -->
                <!-- <li><a href="#" class="button tiny secondary" ><i class="icon&#45;loop"></i></a></li> -->
              <a href="/albums/{{album._id}}/archive" class="button tiny secondary" ><i class="icon-download" translate="DOWNLOAD"></i></a>
              <!-- </ul> -->
          </div>
        </div>
        <div class="large-9 columns">
          <h2>{{album.artist}} - {{album.album}} <span class="label secondary"  ng-if="album.genre">{{album.genre}}</span> <span class="label secondary"  ng-if="album.year">{{album.year}}</span>
          </h2>
          <ul class="songs">
            <li ng-repeat="song in album.songs">
              <a ng-class="{active: player.playing($index)}" ng-click="player.playSong($index)">{{song.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
