<div class="row item">
  <div class="large-2 medium-4 small-2 columns poster">
    <img src="http://image.tmdb.org/t/p/w185/qKkFk9HELmABpcPoc1HHZGIxQ5a.jpg" class="thumbnail">
  </div>
  <div class="large-10 medium-8 small-10 columns content">
    <ul class="inline-list actions right">
      <li><a href="#download" title="Download">Download</a></li>
      <li><a href="#watch" title="Watch">Watch</a></li>
      <li><a href="#delete" title="Delete">Delete</a></li>
    </ul>

    <h4>X-Men: Days of Future Past</h4>
    <h5>Overview</h5>
    <p>The ultimate X-Men ensemble fights a war for the survival of the species across two time periods in X-MEN: DAYS OF FUTURE PAST. The beloved characters from the original “X-Men” film trilogy join forces with their younger selves from “X-Men: First Class,” in an epic battle that must change the past – to save our future.</p>

    <span class="label round secondary">HDTV</span> <span class="label round secondary">X264</span> <span class="label round secondary">HDTV</span> <span class="label round secondary">VOSTFR</span> <span class="label round secondary">PROPER</span>
  </div>
</div>
<div class="row item">
  <div class="large-2 small-2 medium-4 columns poster">
    <img src="http://image.tmdb.org/t/p/w185/xa7hZgcSK7xojtuUE4eflEBj9lQ.jpg" class="thumbnail">
  </div>
  <div class="large-10 medium-8 small-10 columns content">
    <ul class="inline-list actions right">
      <li><a href="#download" title="Download">Download</a></li>
      <li><a href="#watch" title="Watch">Watch</a></li>
      <li><a href="#delete" title="Delete">Delete</a></li>
    </ul>

    <h4>Leverage S08</h4>
    <h5>Overview</h5>
    <p>Leverage is an American television drama series, which aired on TNT from December 7, 2008 to December 25, 2012. The series was produced by Electric Entertainment, a production company of executive producer and director Dean Devlin. Leverage follows a five-person team: a thief, a grifter, a hacker, and a retrieval specialist, led by former insurance investigator Nathan Ford, who use their skills to fight corporate and governmental injustices inflicted on ordinary citizens.</p>

    <span class="label round secondary">HDTV</span> <span class="label round secondary">X264</span> <span class="label round secondary">VOSTFR</span> <span class="label round secondary">PROPER</span>

  </div>
  <div class="large-12 columns">
    <a class="button tiny show-files" ng-init="show_files = false" ng-click="show_files = !show_files">Episodes</a>
    <div class="row">
      <table class="large-12 columns files table" ng-class="{hide: !show_files}">
        <tfoot>
          <tr>
            <td colspan="4">
            </td>
          </tr>
        </tfoot>
        <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Poids</th>
              <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>1</td>
              <td>
                Leverage S08e01
              </td>
              <td>
                200 Mb
              </td>
              <td>
                Voir
              </td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
