.checkbox {
	display: none;
}

.checkbox ~ label:before {
	font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 -webkit-font-smoothing:antialiased;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  margin-left: .2em;
	content: '\e80f';
  text-shadow: 0px 1px 0px #fff;
}

.checkbox:checked ~ label:before {
	content: '\e816';
}
