$item-border-color: 1px solid scale-color($white, $lightness:-11%);

#desktop {
	margin-top: 20px;

    section {
        border-bottom: $item-border-color;
    }

    .paginate {
        margin-top: 20px;
    }
}

table {
    width: 100%;
}

.no-sidebar {
	@include grid-column($columns:12);
}

@media #{$medium-up} {
	.no-sidebar {
	  @include calc(width, '100% - 60px');
	}
}
