@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?45462382');
  src: url('../../font/fontello.eot?45462382#iefix') format('embedded-opentype'),
       url('../../font/fontello.svg?45462382#fontello') format('svg'),
       url('../../font/fontello.woff?45462382') format('woff'),
       url('../../font/fontello.ttf?45462382') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../font/fontello.svg?45462382#fontello') format('svg');
  }
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 -webkit-font-smoothing:antialiased;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-laptop:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-table:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-thumb:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-albums:before { content: '\e807'; } /* '' */
.icon-network:before { content: '\e808'; } /* '' */
.icon-check-empty:before { content: '\e809'; } /* '' */
.icon-off:before { content: '\e80a'; } /* '' */
.icon-hdd:before { content: '\e80b'; } /* '' */
.icon-view-mode:before { content: '\e80c'; } /* '' */
.icon-resize-small:before { content: '\e80d'; } /* '' */
.icon-resize-full:before { content: '\e80e'; } /* '' */
.icon-folder:before { content: '\e80f'; } /* '' */
.icon-cog:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-videos:before { content: '\e812'; } /* '' */
.icon-others:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-undo:before { content: '\e815'; } /* '' */
.icon-folder-open:before { content: '\e816'; } /* '' */
.icon-pencil:before { content: '\e817'; } /* '' */
.icon-play:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-play-small:before { content: '\e81a'; } /* '' */
.icon-vlc:before { content: '\e81b'; } /* '' */
.icon-stop:before { content: '\e81c'; } /* '' */
.icon-pause:before { content: '\e81d'; } /* '' */
.icon-shuffle:before { content: '\e81e'; } /* '' */
.icon-loop:before { content: '\e81f'; } /* '' */
.icon-to-end:before { content: '\e820'; } /* '' */
.icon-to-start:before { content: '\e821'; } /* '' */
.icon-volume-off:before { content: '\e822'; } /* '' */
.icon-volume-up:before { content: '\e823'; } /* '' */
.icon-eye:before { content: '\e824'; } /* '' */
.icon-arrow-left:before { content: '\e825'; } /* '' */
.icon-file-application:before { content: '\e826'; } /* '' */
.icon-file-text:before { content: '\e827'; } /* '' */
.icon-file-image:before { content: '\e828'; } /* '' */
.icon-file-audio:before { content: '\e829'; } /* '' */
.icon-file-video:before { content: '\e82a'; } /* '' */
.icon-arrow-right:before { content: '\e82b'; } /* '' */
